@charset "utf-8";

/************************
    レスポンシブ対応
************************/
/* レスポンシブ対応 */
$pc: 768px;
$sp: 767px;
@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// カラー
$base-color: #2d4059;
$sub-color: #eaedf1;
$accent-color: #ea5455;
$gradient-color: linear-gradient(118.6003723809439deg, rgba(2, 27, 62,1) 5.1967592592592595%,rgba(81, 119, 149,1) 97.32638888888889%);

/************************
        共通CSS
************************/
body {
    color: #2d2d2d;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    letter-spacing: .02em;
}
img {
    vertical-align: bottom;
}
.sp-only {
    display: block;
    @include pc() {
        display: none;
    }
}
.pc-only {
    display: none;
    @include pc() {
        display: block;
    }
}
.container {
    margin: 0 auto;
    max-width: 1040px;
    padding: 0 20px;
}
.section-ttl {
    color: $base-color;
    font-size: 26px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    &::before {
        content: "私について";
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        left: 0;
        position: absolute;
        right: 0;
        top: -15px;
    }
}
.sub-ttl {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.btn-wrap {
    display: flex;
    justify-content: space-between;
}
.btn {
    align-items: center;
    background-color: $accent-color;
    border-radius: 5px;
    color: #ffffff!important;
    display: flex;
    font-size: 15px;
    justify-content: center;
    max-width: 200px;
    padding: .8em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 50%;
    &::after {
        border-right: 3px solid #ffffff;
        border-top: 3px solid #ffffff;
        content: "";
        display: inline-block;
        height: 7px;
        position: absolute;
        right: 15%;
        transform: rotate(45deg);
        width: 7px;
    }
    &:hover {
        opacity: .8;
        transition: all .3s;
    }
    &.btn--small {
        width: 65%;
    }
}
.mb10 {
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}
.m-auto {
    margin: 0 auto;
}

/************************
        フォント
************************/
.ffMont {
    font-family: "Montserrat", sans-serif;
}

/************************
        header
************************/
.header {
    background: $gradient-color;
    bottom: 0;
    height: 70px;
    @include sp() {
        height: 60px;
    }
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    .container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }
    .header-logo {
        img {
            height: 30px;
            vertical-align: middle;
            width: auto;
        }
    }
}
/* ハンバーガーメニュー */
.drawer-hidden {
    display: none;
}
.drawer-open {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
    width: 60px;
    z-index: 100;
    span, span::before, span::after {
        background: #ffffff;
        border-radius: 3px;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        transition: .5s;
        width: 25px;
    }
    span::before {
        bottom: 8px;
    }
    span::after {
        top: 8px;
    }
}
/* アイコンがクリックされたら真ん中の線を透明に */
#drawer-check:checked ~ .drawer-open span {
    background: rgba(255,255,255,0);
    &::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    &::after {
        top: 0;
        transform: rotate(-45deg);
    }
}
// メニューのデザイン
.drawer-content {
    background: rgba(0,0,0,.9);
    color: #ffffff;
    height: 100%;
    left: 100%; /*画面外へ飛ばす*/
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 99;
    .drawer-list {
        margin-top: 100px;
    }
    .drawer-item {
        padding: 20px 0;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
    left: 0; /*メニューを画面にいれる*/
}

/* PCメニュー*/
.pc-menu-list {
    display: flex;
    .pc-menu {
        &:not(:last-child) {
            margin-right: 30px;
        }
        a {
            color: #ffffff;
            font-size: 16px;
            font-weight: normal;
            text-decoration: none;
        }
    }
}


/************************
        #hero
************************/
#hero {
    background: url("../img/fv-sp.jpg") no-repeat;
    // background-position: 50px 0;
    background-size: cover;
    height: 600px;
    @include pc() {
        background: url("../img/fv-pc.jpg") no-repeat left bottom;
        background-size: cover;
    }
    margin-top: 60px;
    position: relative;
    width: 100%;
    .hero__text {
        background: rgba( 255,255,255,.9);
        padding: 20px 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include sp() {
            padding: 20px;
        }
        .sub-ttl {
            text-align: left;
        }
        .btn {
            width: 65%;
        }
    }
    .name {
        font-size: 35px;
        font-weight: 700;
    }
    .sub-ttl {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero-cnt {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .scrolldown {
        animation: arrowmove 1s ease-in-out infinite;
        bottom: 1%;
        position: absolute;
        right: 50%;
        @keyframes arrowmove {
            0% {
                bottom: 1%;
            }
            50% {
                bottom: 3%;
            }
            100% {
                bottom: 1%;
            }
        }
        span {
            bottom: 10px;
            color: #2d2d2d;
            font-size: .7rem;
            left: -20px;
            letter-spacing: .05rem;
            position: absolute;
            text-transform: lowercase;
            -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                    writing-mode: vertical-rl;
        }
        &::before {
            background: #2d2d2d;
            bottom: 0;
            content: "";
            height: 20px;
            position: absolute;
            right: -6px;
            transform: skewX(-31deg);
            width: 1px;
        }
        &::after {
            background: #2d2d2d;
            bottom: 0;
            content: "";
            height: 50px;
            position: absolute;
            right: 0;
            width: 1px;
        }
    }
}
// #hero .name {
//     background-clip: text;
//     -webkit-background-clip: text;
//     background-image: url(../img/profile.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     // color: rgba(0 0 0 / 0);
//     color: rgba(222,222,100, .8);
//     font-size: 80px;
//     font-weight: 700;
//     text-transform: uppercase;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
// }  
/************************
        #about
************************/
#about {
    background-color: $sub-color;
    @include pc {
        .about__wrap {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: initial;
            .profile-img {
                margin-bottom: 0;
                margin-right: 50px;
                width: 40%;
                img {
                    vertical-align: bottom;
                }
            }
            .about__txt {
                flex: 1;
            }
        }
    }
    padding: 50px 0 70px;
    .section-ttl {
        @include pc() {
            margin-bottom: 30px;
        }
        margin-bottom: 15px;
    }
    .profile-img {
        @include sp() {
            margin-bottom: 30px;
        }
        margin-bottom: 15px;
        position: relative;
        text-align: center;
        z-index: 0;
        &::before {
            background-image: radial-gradient(#999999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999999 30%, rgba(0, 0, 0, 0) 31%);
            background-position: 0 0, 3px 3px;
            background-size: 6px 6px;
            bottom: -20px;
            content: "";
            height: 100%;
            position: absolute;
            right: -20px;
            width: 100%;
            z-index: -1;
        }
    }
    .about__name {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        small {
            font-size: 16px;
        }
    }
    .about__cnt {
        line-height: 1.7;
        // font-size: 15px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
/************************
        #service
************************/
#service {
    @include pc() {
        .service__wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .service__item {
                margin: 0 10px 20px 10px;
                // flex: 1 1 250px;
                width: 30%;
            }
        }
    }
    padding: 50px 0 70px;
    .section-ttl {
        margin-bottom: 5px;
        &::before {
            content: "スキル";
        }
    }
    .service__item {
        background-color: $sub-color;
        color: #4b4b4b;
        margin: 0 auto 10px;
        max-width: 66.6vw;
        padding: 20px;
        text-align: center;
        span {
            display: inline-block;
            font-size: 60px;
            margin-bottom: 15px;
        }
        .service__ttl {
            font-size: 18px;
        }
        .service__cnt {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            margin-top: auto;
            text-align: left;
        }
    }
}
/************************
        #works
************************/
#works {
    background-color: $sub-color;
    padding: 50px 0 70px;
    .section-ttl::before {
        content: "制作物";
    }
}
.works-main-ttl {
    background-color: #394867;
    color: #ffffff;
    font-size: 18px;
    @include sp() {
        border-bottom: 1px solid #ffffff;
    }
    padding: 16px 0;
    position: relative;
    text-align: center;
    // border: 1px solid $sub-color;
    &::after {
        content: "\f0d7";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        right: 60px;
        transition: .3s ease-in-out;
    }
    &.open::after {
        transform: rotate(180deg);
        transition: .3s ease-in-out;
    }
}
.works-ttl {
    font-size: 18px;
    padding: .5em 0;
    text-align: center;
}
.works__wrap > div {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.works__item {
    display: flex;
    flex-direction: column;
    @include sp() {
        margin: 0 auto;
        width: 90%;
    }
    padding: 20px 10px;
    width: 32%;
}
.works__item__txt {
    flex-grow: 1;
    padding: 0 10px 20px;
}
.works__item__img img {
    object-fit: cover;
}
.tab-group {
    display: flex;
    @include sp() {
        display: none;
    }
    .tab {
        background-color: $base-color;
        color: #ffffff;
        cursor: pointer;
        flex: 1;
        font-size: 18px;
        padding: 17px 0;
        text-align: center;
        &:not(:last-child) {
            border-right: 1px solid #ffffff;
        }
        &.is-active {
            background-color: #ffffff;
            color: #000000;
            text-decoration: underline;
        }
    }
}
.tab-cnt {
    display: none;
    @include sp() {
        display: block;
    }
    div {
        @include sp() {
            display: block;
        }
    }
    &.is-show {
        display: flex;
        @include sp() {
            display: block;
        }
        justify-content: center;
    }
    .tab-txt {
        display: flex;
        flex: 0 0 31% ;
        flex-direction: column;
        @include pc() {
            flex-direction: 0 0 30%;
        }
        margin: 0 10px 20px;
        max-width: 260px;
        .works__img {
            margin-bottom: 10px;
        }
        img {
            height: 170px;
            vertical-align: bottom;
            width: 100%;
        }
        .work-cnt {
            display: flex;
            flex-grow: 1;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
}
.work-ttl {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
/************************
        #contact
************************/
#contact {
    padding: 50px 0 70px;
    text-align: center;
    .section-ttl::before {
        content: "お問い合わせ";
    }
    .sub-ttl {
        margin-bottom: 30px;
    }
}
.form-wrapper {
    margin: 0 auto;
    width: 50%;
}
@media (max-width:768px) {
    .form-wrapper {
        width: 65%;
    }
}
@media (max-width:767px) {
    .form-wrapper {
        width: 100%;
    }
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    label {
        margin-bottom: 5px;
        padding: 5px;
    }
    input, textarea {
        background-color: #ecedf2;
        border: none;
        padding: 10px;
    }
}
.required {
    background-color: #ea5455;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-left: 5px;
    padding: 5px;
}
.end-message {
    display: none;
}
.false-message {
    display: none;
}
#form .btn.submit-btn {
    align-items: center;
    background-color: #ea5455;
    border: none;
    border-radius: 5px;
    color: #ffffff ;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin: 0 auto;
    max-width: 200px;
    padding: .8em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 50%;
    &:hover {
        opacity: .8;
        transition: all .3s;
    }
}
/************************
        .footer
************************/
.footer {
    background: $gradient-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    padding: 23px 0;
    text-align: center;
    .footer-logo {
        margin-bottom: 10px;
        img {
            height: 35px;
        }
    }
}

// js設定
.js_delay {
    & .js_item {
        opacity: 0;
        transform: translateY(10px);
        transition: all .8s;
    }
    &.inview {
        & .js_item {
            opacity: 1;
            transform: none;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * .1s;
                }
            }
        }
    }
}