@charset "UTF-8";
/************************
    レスポンシブ対応
************************/
/* レスポンシブ対応 */
/************************
        共通CSS
************************/
body {
  color: #2d2d2d;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: .02em;
}

img {
  vertical-align: bottom;
}

.sp-only {
  display: block;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: none;
}

@media (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
}

.section-ttl {
  color: #2d4059;
  font-size: 30px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
}

.section-ttl::before {
  content: "私について";
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  position: absolute;
  right: 0;
  top: -15px;
}

.sub-ttl {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
}

.btn {
  align-items: center;
  background-color: #ea5455;
  border-radius: 5px;
  color: #ffffff !important;
  display: flex;
  font-size: 15px;
  justify-content: center;
  max-width: 200px;
  padding: .8em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.btn::after {
  border-right: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  right: 15%;
  transform: rotate(45deg);
  width: 7px;
}

.btn:hover {
  opacity: .8;
  transition: all .3s;
}

.btn.btn--small {
  width: 65%;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.m-auto {
  margin: 0 auto;
}

/************************
        フォント
************************/
.ffMont {
  font-family: "Montserrat", sans-serif;
}

/************************
        header
************************/
.header {
  background: linear-gradient(118.60037deg, #021b3e 5.19676%, #517795 97.32639%);
  bottom: 0;
  height: 70px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.header .header-logo img {
  height: 30px;
  vertical-align: middle;
  width: auto;
}

/* ハンバーガーメニュー */
.drawer-hidden {
  display: none;
}

.drawer-open {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;
  width: 60px;
  z-index: 100;
}

.drawer-open span, .drawer-open span::before, .drawer-open span::after {
  background: #ffffff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transition: .5s;
  width: 25px;
}

.drawer-open span::before {
  bottom: 8px;
}

.drawer-open span::after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明に */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.drawer-content {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  height: 100%;
  left: 100%;
  /*画面外へ飛ばす*/
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
  z-index: 99;
}

.drawer-content .drawer-list {
  margin-top: 100px;
}

.drawer-content .drawer-item {
  padding: 20px 0;
  text-align: center;
}

.drawer-content .drawer-item a {
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;
  /*メニューを画面にいれる*/
}

/* PCメニュー*/
.pc-menu-list {
  display: flex;
}

.pc-menu-list .pc-menu:not(:last-child) {
  margin-right: 30px;
}

.pc-menu-list .pc-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

/************************
        #hero
************************/
#hero {
  background: url("../img/fv-sp.jpg") no-repeat;
  background-position: 100px 0;
  background-size: cover;
  height: 600px;
  margin-top: 70px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  #hero {
    background: url("../img/fv-pc.jpg") no-repeat left bottom;
    background-size: cover;
  }
}

#hero .hero__text {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#hero .hero__text .sub-ttl {
  text-align: left;
}

#hero .name {
  font-size: 35px;
  font-weight: 700;
}

#hero .sub-ttl {
  font-size: 16px;
  margin-bottom: 20px;
}

#hero .hero-cnt {
  font-size: 16px;
  margin-bottom: 30px;
}

#hero .scrolldown {
  animation: arrowmove 1s ease-in-out infinite;
  bottom: 1%;
  position: absolute;
  right: 50%;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

#hero .scrolldown span {
  bottom: 10px;
  color: #2d2d2d;
  font-size: .7rem;
  left: -20px;
  letter-spacing: .05rem;
  position: absolute;
  text-transform: lowercase;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

#hero .scrolldown::before {
  background: #2d2d2d;
  bottom: 0;
  content: "";
  height: 20px;
  position: absolute;
  right: -6px;
  transform: skewX(-31deg);
  width: 1px;
}

#hero .scrolldown::after {
  background: #2d2d2d;
  bottom: 0;
  content: "";
  height: 50px;
  position: absolute;
  right: 0;
  width: 1px;
}

/************************
        #about
************************/
#about {
  background-color: #eaedf1;
  padding: 50px 0 70px;
}

@media (min-width: 768px) {
  #about .about__wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: initial;
  }
  #about .about__wrap .profile-img {
    margin-bottom: 0;
    margin-right: 50px;
    width: 40%;
  }
  #about .about__wrap .profile-img img {
    vertical-align: bottom;
  }
  #about .about__wrap .about__txt {
    flex: 1;
  }
}

#about .section-ttl {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #about .section-ttl {
    margin-bottom: 30px;
  }
}

#about .profile-img {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  z-index: 0;
}

@media (max-width: 767px) {
  #about .profile-img {
    margin-bottom: 30px;
  }
}

#about .profile-img::before {
  background-image: radial-gradient(#999999 30%, transparent 31%), radial-gradient(#999999 30%, transparent 31%);
  background-position: 0 0, 3px 3px;
  background-size: 6px 6px;
  bottom: -20px;
  content: "";
  height: 100%;
  position: absolute;
  right: -20px;
  width: 100%;
  z-index: -1;
}

#about .about__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

#about .about__name small {
  font-size: 16px;
}

#about .about__cnt {
  line-height: 1.7;
}

#about .about__cnt:not(:last-child) {
  margin-bottom: 10px;
}

/************************
        #service
************************/
#service {
  padding: 50px 0 70px;
}

@media (min-width: 768px) {
  #service .service__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #service .service__wrap .service__item {
    margin: 0 10px 20px 10px;
    width: 30%;
  }
}

#service .section-ttl {
  margin-bottom: 5px;
}

#service .section-ttl::before {
  content: "サービス";
}

#service .service__item {
  background-color: #eaedf1;
  color: #4b4b4b;
  margin: 0 auto 10px;
  max-width: 66.6vw;
  padding: 20px;
  text-align: center;
}

#service .service__item span {
  display: inline-block;
  font-size: 60px;
  margin-bottom: 15px;
}

#service .service__item .service__ttl {
  font-size: 18px;
}

#service .service__item .service__cnt {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: auto;
  text-align: left;
}

/************************
        #works
************************/
#works {
  background-color: #eaedf1;
  padding: 50px 0 70px;
}

#works .section-ttl::before {
  content: "制作物";
}

.works-main-ttl {
  background-color: #394867;
  color: #ffffff;
  font-size: 18px;
  padding: 16px 0;
  position: relative;
  text-align: center;
}

@media (max-width: 767px) {
  .works-main-ttl {
    border-bottom: 1px solid #ffffff;
  }
}

.works-main-ttl::after {
  content: "\f0d7";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  right: 60px;
  transition: .3s ease-in-out;
}

.works-main-ttl.open::after {
  transform: rotate(180deg);
  transition: .3s ease-in-out;
}

.works-ttl {
  font-size: 18px;
  padding: .5em 0;
  text-align: center;
}

.works__wrap > div {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.works__item {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 32%;
}

@media (max-width: 767px) {
  .works__item {
    margin: 0 auto;
    width: 90%;
  }
}

.works__item__txt {
  flex-grow: 1;
  padding: 0 10px 20px;
}

.works__item__img img {
  object-fit: cover;
}

.tab-group {
  display: flex;
}

@media (max-width: 767px) {
  .tab-group {
    display: none;
  }
}

.tab-group .tab {
  background-color: #2d4059;
  color: #ffffff;
  cursor: pointer;
  flex: 1;
  font-size: 18px;
  padding: 17px 0;
  text-align: center;
}

.tab-group .tab:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.tab-group .tab.is-active {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
}

.tab-cnt {
  display: none;
}

@media (max-width: 767px) {
  .tab-cnt {
    display: block;
  }
}

@media (max-width: 767px) {
  .tab-cnt div {
    display: block;
  }
}

.tab-cnt.is-show {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .tab-cnt.is-show {
    display: block;
  }
}

.tab-cnt .tab-txt {
  display: flex;
  flex: 0 0 31%;
  flex-direction: column;
  margin: 0 10px 20px;
  max-width: 260px;
}

@media (min-width: 768px) {
  .tab-cnt .tab-txt {
    flex-direction: 0 0 30%;
  }
}

.tab-cnt .tab-txt .works__img {
  margin-bottom: 10px;
}

.tab-cnt .tab-txt img {
  height: 170px;
  vertical-align: bottom;
  width: 100%;
}

.tab-cnt .tab-txt .work-cnt {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.work-ttl {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

/************************
        #contact
************************/
#contact {
  padding: 50px 0 70px;
  text-align: center;
}

#contact .section-ttl::before {
  content: "コンタクト";
}

#contact .sub-ttl {
  margin-bottom: 30px;
}

/************************
        .footer
************************/
.footer {
  background: linear-gradient(118.60037deg, #021b3e 5.19676%, #517795 97.32639%);
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  padding: 23px 0;
  text-align: center;
}

.footer .footer-logo {
  margin-bottom: 10px;
}

.footer .footer-logo img {
  height: 35px;
}
